{% set page_id = 6 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}

    {% embed "PlanificacionesBundle:6-bibliografia:form.html.twig" %}

        {% block form_actions %}
            {% if planificacion.puedeEditarse() %}
                <div class="form-row mt-3">
                    <div class="col-12 col-lg-6">
                        {% if planificacion.puedeEditarse() %}
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-check"></i>&nbsp;Guardar cambios
                            </button>
                        {% endif %}
                    </div>

                    <div class="col-12 col-lg-4 text-lg-right">

                        <a href="{{ path('planif_bibliografia_index', { id: planificacion.id }) }}" class="btn btn-outline-secondary">
                            Ir al listado
                        </a>
                    </div>
                </div>
            {% endif %}

        {% endblock %}

    {% endembed %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}