{% extends 'base.html.twig' %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}     
            <a href="{{ path('rol_index') }}">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Volver al listado
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="px-lg-5">   

            <div class="my-3">
                {% include '::notificaciones.html.twig' %}
            </div>

            <div class="">
                {% include 'AppBundle:rol:form.html.twig' %}

                {% embed '::botonera.html.twig' %}

                    {% block left %}
                        <button id="guardarCambios" class="btn btn-primary">
                            Guardar cambios
                        </button>
                    {% endblock %}
                    
                    {% block right %}
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Borrar" class="btn btn-outline-danger confirmar-borrado" data-msg='¿Esta seguro que desea borrar este rol?'/>
                        {{ form_end(delete_form) }}
                    {% endblock %}

                {% endembed %}

            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {


            $('#guardarCambios').click(function (e) {
                e.preventDefault();
                $("form[name='appbundle_rol']").submit();
            });





        });

    </script>


{% endblock %}