<div class="form-row  mt-4">
    <div class="col-xs-12 col-sm-2">
        {{ form_widget(form.submit, {'attr': {'class': 'btn bg-verde text-color-white'}}) }}
    </div>
    <div class="col-xs-12 offset-6 col-sm-2 text-right">
        {% if form.reset is defined %}
            {{ form_widget(form.reset) }}
        {% endif %}
    </div>
</div>