{% extends '::base.html.twig' %}


{% block content %}
    <div class="">


        {#% include 'AppBundle:Planificaciones:navbar.html.twig' %#}    

        <div class="light-font mb-0">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb bg-azul mb-0">
                    <li class="breadcrumb-item">
                        <a class="text-color-white" href="#">PLANIFICACIONES</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Álgebra lineal 2019 (AI 2006)</li>
                </ol>
            </nav>
        </div>

        <div class="row no-gutters pt-0" id="menuLateral">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-informacion-tab" data-toggle="pill" href="#v-pills-informacion" role="tab" aria-controls="v-pills-informacion" aria-selected="true">
                        Información básica
                        <i class="far fa-check-circle float-right" style="color:green"></i>
                    </a>
                    <a class="nav-link" id="v-pills-docente-tab" data-toggle="pill" href="#v-pills-docente" role="tab" aria-controls="v-pills-docente" aria-selected="false">
                        Equipo docente
                        <i class="far fa-check-circle float-right" style="color:green"></i>
                    </a>
                    <a class="nav-link" id="v-pills-docente-tab" data-toggle="pill" href="#v-pills-aprobacion" role="tab" aria-controls="v-pills-docente" aria-selected="false">
                        Aprobación de la materia
                        <i class="far fa-circle float-right"></i>
                    </a>
                    <a class="nav-link" id="v-pills-objetivos-tab" data-toggle="pill" href="#v-pills-objetivos" role="tab" aria-controls="v-pills-objetivos" aria-selected="false">
                        Objetivos de la asignatura
                        <i class="far fa-circle float-right"></i>
                    </a>
                    <a class="nav-link" id="v-pills-temario-tab" data-toggle="pill" href="#v-pills-temario" role="tab" aria-controls="v-pills-temario" aria-selected="false">
                        Temario
                        <i class="far fa-circle float-right"></i>
                    </a>
                    <a class="nav-link" id="v-pills-bibliografia-tab" data-toggle="pill" href="#v-pills-bibliografia" role="tab" aria-controls="v-pills-bibliografia" aria-selected="false">
                        Bibliografia
                        <i class="far fa-circle float-right"></i>
                    </a>

                    <a class="nav-link" id="v-pills-cronograma-tab" data-toggle="pill" href="#v-pills-cronograma" role="tab" aria-controls="v-pills-cronograma" aria-selected="false">
                        Cronograma de enseñanza
                        <i class="far fa-circle float-right"></i>
                    </a>
                    <a class="nav-link" id="v-pills-distribucion-tab" data-toggle="pill" href="#v-pills-distribucion" role="tab" aria-controls="v-pills-distribucion" aria-selected="false">
                        Distribucion de carga horaria
                        <i class="far fa-circle float-right"></i>
                    </a>
                    <a class="nav-link" id="v-pills-viajes-tab" data-toggle="pill" href="#v-pills-viajes" role="tab" aria-controls="v-pills-viajes" aria-selected="false">
                        Viajes académicos
                        <i class="far fa-circle float-right"></i>
                    </a>

                </div>
                <button class="btn border-azul w-100 text-left p-3 pl-4" >
                        Revisar borrador                        
                </button>

            </div>

            <div class="col-9" style="background-color: #eeeeee">
                
                    <div class="tab-content" id="v-pills-tabContent">


                        <div class="tab-pane fade show active" id="v-pills-informacion" role="tabpanel" aria-labelledby="v-pills-informacion-tab">
                            {% include 'AppBundle:Planificaciones:informacion-basica.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-docente" role="tabpanel" aria-labelledby="v-pills-docente-tab">
                            {% include 'AppBundle:Planificaciones:equipo-docente.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-aprobacion" role="tabpanel" aria-labelledby="v-pills-docente-tab">
                            {% include 'AppBundle:Planificaciones:aprobacion-asignatura.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-objetivos" role="tabpanel" aria-labelledby="v-pills-objetivos-tab">
                            {% include 'AppBundle:Planificaciones:objetivos.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-temario" role="tabpanel" aria-labelledby="v-pills-temario-tab">
                            {% include 'AppBundle:Planificaciones:temario.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-bibliografia" role="tabpanel" aria-labelledby="v-pills-bibliografia-tab">
                            {% include 'AppBundle:Planificaciones:bibliografia.html.twig' %}
                        </div>


                        <div class="tab-pane fade" id="v-pills-cronograma" role="tabpanel" aria-labelledby="v-pills-cronograma-tab">
                            {% include 'AppBundle:Planificaciones:cronograma.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-distribucion" role="tabpanel" aria-labelledby="v-pills-distribucion-tab">
                            {% include 'AppBundle:Planificaciones:distribucion.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-viajes" role="tabpanel" aria-labelledby="v-pills-viajes-tab">
                            {% include 'AppBundle:Planificaciones:viajes.html.twig' %}
                        </div>



                    </div>
                   
            </div>

        </div>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            
            $("#btnAñadirResp").click(function () {
                $(".bloque_responsable").clone().insertAfter(".bloque_responsable:last");
            });
             $("#btnAñadirAdscripto").click(function () {
                $(".bloque_adscripto").clone().insertAfter(".bloque_adscripto:last");
            });
             $("#btnAñadirColab").click(function () {
                $(".bloque_colaborador").clone().insertAfter(".bloque_colaborador:last");
            });
             $("#btnAñadirTema").click(function () {
                $(".bloque_clone").clone().insertAfter(".bloque_tema:last");
            });
        });
    </script>
{% endblock %}
