<div class="container pr-0 mt-4">
    <div class="card card-register mx-auto">

        <div class="card-body px-5">
            <div class="mb-4">
                <h4>Equipo Docente</h4>
            </div>
            <div class="bloque_responsable">
                <div class="form-row">
                    <div class="form-group  col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <label for="responsable">Responsable</label>
                    </div>
                    <div class="form-group required  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label" for="nombre">Nombre y Apellido
                        </label>
                        <select class="form-control" id="nombre" name="nombre" required>
                            <option value="">Seleccione</option>
                            <option value="JuanP">Juan Perez</option>
                        </select>                        
                    </div>
                    <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="dni" class="control-label">DNI </label>
                        <input class="form-control" id="dni" name="dni" type="text" value="" required/>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                    <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="telefono" class="control-label">Teléfono </label>
                        <input class="form-control" id="telefono" name="telefono" type="text" value="" required/>
                    </div>
                    <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="email" class="control-label">Correo electrónico </label>
                        <input class="form-control" id="email" name="email" type="email" value="" required/>
                    </div>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                <div class="form-group  col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="#" id="btnAñadirResp" >
                          <i class="fa fa-plus-circle"></i>Añadir campo
                    </a>
                </div>
            </div>

            <!-- Colaborador -->
            <div class="bloque_colaborador mt-4">
                <div class="form-row">
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <label for="responsable">Colaborador</label>

                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label" for="nombre_colaborador">Nombre y Apellido
                        </label>
                        <select class="form-control" id="nombre_colaborador" name="nombre_colaborador" required>
                            <option value="">Seleccione</option>
                            <option value="JuanP">Juan Perez</option>
                        </select>
                        <div class="valid-feedback">
                            V&aacute;lido
                        </div>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="dni_colaborador" class="control-label">DNI </label>
                        <input class="form-control" id="dni_colaborador" name="dni_colaborador" type="text" value="" required/>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="telefono_colaborador" class="control-label">Teléfono</label>
                        <input class="form-control" id="telefono_colaborador" name="telefono_colaborador" type="text" value="" required/>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="email_colaborador" class="control-label">Correo electrónico</label>
                        <input class="form-control" id="email_colaborador" name="email_colaborador" type="email" value="" required/>
                    </div>

                </div>
            </div><!--bloque colaborador -->

            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                <div class="form-group  col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="#" id="btnAñadirColab">
                        <i class="fa fa-plus-circle"></i>Añadir campo
                    </a>
                </div>
            </div>


            <!-- Adscripto -->
            <div class="bloque_adscripto mt-4">
                <div class="form-row">
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <label for="responsable">Adscripto</label>

                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label" for="nombre_adscripto">Nombre y Apellido
                        </label>
                        <select class="form-control" id="nombre_adscripto" name="nombre_adscripto" required>
                            <option value="">Seleccione</option>
                            <option value="">Juan Perez</option>
                        </select>
                        <div class="valid-feedback">
                            V&aacute;lido
                        </div>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="dni_adscripto" class="control-label">DNI </label>
                        <input class="form-control" id="dni_adscripto" name="dni_adscripto" type="text" value="" required/>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label for="resolucion" class="control-label">Resolución de Consejo Directivo</label>
                        <input class="form-control" id="resolucion" name="resolucion" type="text" value="" required/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="telefono_colaborador" class="control-label">Teléfono </label>
                        <input class="form-control" id="telefono_colaborador" name="telefono_colaborador" type="text" value="" required/>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label for="email_colaborador" class="control-label">Correo electrónico </label>
                        <input class="form-control" id="email_colaborador" name="email_colaborador" type="email" value="" required/>
                    </div>

                </div>

            </div><!-- bloque_adscripto-->
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                <div class="form-group  col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="#" id="btnAñadirAdscripto">
                        <i class="fa fa-plus-circle"></i> Añadir campo
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
