<div class="container">
    <div class="mt-5">

        <div class="">
            <div class="row">
                <div class="offset-2 col-lg-8">
                    <i class="far fa-check-circle float-left"></i>
                    <div class="mt-4">

                        <b>Su carga de planificaciones ha finalizado con éxito<br>


                            Recuerde que debe enviar la planificación para cumplir
                            su presentación a Secretaría Académica.<br>

                            Ver planificación completa (pdf)<br>
                        </b>
                    </div>
                    Muchas Gracias


                    <div class="mt-s text-right">

                        <button type="button" class="btn btn btn-success">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            Enviar Planificación
                        </button>
                        <a href="{{ path('carga-planificacion') }}" class="btn btn-secondary">
                            Volver
                        </a>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
