<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">
            <h4>Informaci&oacute;n b&aacute;sica de la asignatura</h4>
        </div>
        <div class="card-body">

            <form name="formCrearPlanificacion" id="formCrearPlanificacion" action="carga-formulario.php" method="post" class="needs-validation" novalidate>

                <div class="form-row">
                    <div class="form-group required  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label class="control-label" for="anio">Año
                        </label>
                        <input class="form-control" id="anio" name="anio" type="text" value="2010" required/>
                        <div class="valid-feedback">
                            Válido
                        </div>
                    </div>
                    <div class="form-group  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label for="codigo_siu">C&oacute;digo SIU
                        </label>
                        <input class="form-control" id="codigo_siu" name="codigo_siu" type="text" value="2525" disabled/>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label for="plan_estudio">Plan de estudio
                        </label>
                        <input class="form-control" id="plan_estudio" name="plan_estudio" type="text" value="2" disabled/>
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="form-group required col-md-13 col-sm-12 col-xs-12">
                        <label class="control-label" for="carrera_planificacion">Asignatura</label>
                        <select id="carrera_planificacion" name="carrera_planificacion" title="Seleccione la carrera..." class="selectpicker form-control" data-live-search="true" data-live-search-style="begins" onchange="completar_combo_cursos(this)" required>
                            <option selected value="Seleccione">Seleccione</option>
                            {#% for carrera in listadoCarreras %}
                                                                                                <option value="{{carrera.id_carrera}}">{{carrera.nombre}}</option>
                                                                                            {% else %}
                                                                                                <option value="">No se encontraron Carreras</option>
                                                                                            {% endfor %#}
                            <option value="Opcion">Otra opcion</option>
                        </select>
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="form-group required col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label class="control-label" for="departamento">Departamento</label>
                        <input class="form-control" id="departamento" name="departamento" type="text" value="" required/>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label for="caracter">Carácter
                        </label>
                        <input class="form-control" id="caracter" name="caracter" type="text" value="2" disabled/>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label for="carga_horaria">Carga Horaria total
                        </label>
                        <input class="form-control" id="carga_horaria" name="carga_horaria" type="text" value="2525" disabled/>
                    </div>

                </div>

                <div class="form-row mt-4">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label for="contenidos_minimos">Contenidos Mínimos</label>
                        <textarea id="contenidos_minimos" name="contenidos_minimos" class=" form-control" disabled></textarea>
                    </div>
                </div>

                <div class="mt-s text-right">

                    <button type="submit" class="btn btn btn-success">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        Guardar
                    </button>
                    <a href="{{ path('index') }}" class="btn btn-secondary">
                        Cancelar
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>
