<div class="container">
    <div class="card card-register mx-auto mt-5">

        <div class="card-body">
            <div class="mb-4">
                <h4>Objetivos de la asignatura</h4>
            </div>
            <form name="formCrearPlanificacion" id="formCrearPlanificacion" action="carga-formulario.php" method="post" class="needs-validation" novalidate>


                <div class="form-row mt-4">
                    <div class="form-group required col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label" for="objetivos_general">General</label>
                        <textarea id="objetivos_general" name="objetivos_general" class=" form-control"></textarea>
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="form-group required col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label" for="objetivos_especificos">Específicos</label>
                        <textarea id="objetivos_especificos" name="objetivos_especificos" class=" form-control"></textarea>
                    </div>
                </div>

                <div class="mt-s text-right">

                    <button type="submit" class="btn btn btn-success">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        Guardar
                    </button>
                    <a href="{{ path('index') }}" class="btn btn-secondary">
                        Cancelar
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>
