{% extends ':base.html.twig' %}

{% block contenido %}
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                <h2>Planificaci&oacute;n de Posgrado - Informaci&oacute;n b&aacute;sica</h2>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>

{% endblock %}