{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}                 
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="">



        {#            {% include '::sidebar.html.twig' %}#}


        <div class="mt-2 mt-lg-3">

            <div class="input-group input-group-lg shadow">
                <input type="text" id="inputBuscarModulo" class="form-control" placeholder="Ingrese el nombre del módulo o alguna palabra clave" aria-label="Nombre del modulo" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="btnReset" class="btn btn-secondary" type="button">
                        Limpiar Filtro
                    </button>
                </div>
            </div>




            <div class="card-columns mt-3 mt-lg-4 mb-3 modulos">

                {#  PLANIFICACIONES  ======================================================================================== #}
                {% if perm_planif_listar %}
                    {% 
                    set attrs = {
                        'title' : 'Planificaciones',
                        'descripcion' : 'Alta, bajas, modificaciones y busquedas de usuarios.',
                        'button_href' : path('planificaciones_homepage')
                    }
                    %}
                    {% embed 'AppBundle::modulo.html.twig' with attrs %}
                        {% block icono %}
                            <i class="fa fa-list fa-5x"></i>
                        {% endblock %}
                    {% endembed %}
                {% endif %}

                {#  DOCENTES ================================================================================================ #}
                {% 
                    set attrs = {
                        'title' : 'Docentes',
                        'descripcion' : 'Consulta de los docentes de la FICH y adscriptos.',
                        'button_href' : path('docentes_index')
                    }
                %}
                {% embed 'AppBundle::modulo.html.twig' with attrs %}
                    {% block icono %}
                        <img class="img-fluid w-25" src="{{ asset('bundles/app/icons/class.png') }}" alt=""/>
                    {% endblock %}
                {% endembed %}   


                {#  USUARIOS  ======================================================================================== #}
                {% if perm_usuario_listar %}
                    {% 
                    set attrs = {
                        'title' : 'Usuarios',
                        'descripcion' : 'Alta, bajas, modificaciones y busquedas de usuarios.',
                        'button_href' : path('usuarios_index')
                    }
                    %}
                    {% embed 'AppBundle::modulo.html.twig' with attrs %}
                        {% block icono %}
                            <i class="fa fa-users fa-5x"></i>
                        {% endblock %}
                    {% endembed %}  
                {% endif %}

                {#  ROLES ================================================================================= #}
                {% if perm_rol_listar %}
                    {% 
                    set attrs = {
                        'title' : 'Roles',
                        'descripcion' : 'Alta, bajas, modificaciones y busquedas roles.',
                        'button_href' : path('rol_index')
                    }
                    %}
                    {% embed 'AppBundle::modulo.html.twig' with attrs %}
                        {% block icono %}
                            <i class="fa fa-user-shield fa-5x"></i>
                        {% endblock %}
                    {% endembed %}   
                {% endif %}

                {#  PERMISOS ================================================================================= #}
                {% if perm_permiso_listar %}
                    {% 
                    set attrs = {
                        'title' : 'Permisos',
                        'descripcion' : 'Alta, bajas, modificaciones y busquedas permisos.',
                        'button_href' : path('permisos_index')
                    }
                    %}
                    {% embed 'AppBundle::modulo.html.twig' with attrs %}
                        {% block icono %}
                            <i class="fa fa-key fa-5x"></i>
                        {% endblock %}
                    {% endembed %}   
                {% endif %}

            </div>


            {#<div class="row">
                <div class="col-lg-4">
                    <div class="">
                        <div class="card text-center py-5 w-100">

                            <i class="fa fa-list fa-5x"></i>
                            <div class="card-body">
                                <h4 class="card-title">Adscripciones</h4>
                                <p class="card-text">
                                    Gestion de adscripciones de la FICH (docentes, investigadores, etc.).
                                </p>
                                <a href="#" class="btn btn-primary disabled">Acceder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}

            {# <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                 <img class="img-fluid pt-5" src="{{ asset('bundles/app/images/FICH-aniversario.png') }}"/>
             </main>#}


        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {

            var inputBuscar = $("#inputBuscarModulo");

            inputBuscar.on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".modulos .card").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });

            $("#btnReset").click(function (e) {
                e.preventDefault();
                inputBuscar.val('');
                inputBuscar.trigger("keyup");
            });


        });
    </script>


{% endblock %}