/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.idea
nbproject
web/node_modules
src/AppBundle/Resources/.sass-cache
app/Resources/views/..gitignore.swp
src/AppBundle/Resources/css
src/AppBundle/Resources/public/css/*.map
app/docs/infofich2_modelo.mwb.bak
