{% set page_id = 7 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}
    <div>
        <div class="container" >
            <div class="card card-register mx-auto">

                <div class="card-body px-5">

                    <div class="mb-4 ml-10">
                        <h4>Cronograma de actividades</h4>
                    </div>            


                   <div class="form-row">
                    <div class="form-group required  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label class="control-label" for="unidad">Unidad
                        </label>

                        <select class="form-control" id="unidad" name="unidad" required>
                            <option value="">Seleccione</option>
                            <option value="unidad1">UNIDAD I</option>
                            <option value="unidad2">UNIDAD II</option>
                            <option value="unidad3">UNIDAD III</option>
                        </select> 
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label class="control-label" for="titulo">Título</label>
                        <input class="form-control" id="titulo" name="titulo" type="text" value="" disabled/>
                    </div>
                </div>


                {% form_theme form 'jquery.collection.html.twig' 'PlanificacionesBundle:cronograma:form_theme-cronograma.html.twig' %}
                {{ form(form) }}

                </div>

            </div>
        </div>
    </div>
{% endblock %} 


{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {
            
            $('.cronograma-selector').collection();

        });
    </script>




{% endblock %}    