<div class="row mt-4">
    <div class="col-4">
        {% block left %}
        {% endblock %}
    </div>
    <div class="col-4 text-center">
        {% block center %}
        {% endblock %}
    </div>
    <div class="col-4 text-right">
        {% block right %}
        {% endblock %}
    </div>
</div>
