{% extends '::base.html.twig' %}

{% set full_width = true %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}                 
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}
    
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">

            <h1 class="h2">Bienvenidx
                <div class="text-color-azul">
                    Usuarix
                </div>
            </h1>
            <hr/>


            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 ">
                    <span>Listados</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Personas
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('usuarios_index') }}">
                            <span data-feather="file"></span>
                            Usuarios
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Equipamiento
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Publicaciones
                        </a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 ">
                    <span>Indicadores</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Alumnos
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 ">
                    <span>Módulos</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('planificaciones_homepage') }}">
                            <span data-feather="file-text"></span>
                            Planificaciones
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Ficha Docente
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Cooperadora
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Graduados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Boletines
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        {# <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
             <img class="img-fluid pt-5" src="{{ asset('bundles/app/images/FICH-aniversario.png') }}"/>
         </main>#}


    </div>
{% endblock %}
