{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}                 
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="">



        {#            {% include '::sidebar.html.twig' %}#}


        <div class="">
            <div class="row my-5">
                <div class="col-lg-4">
                    <div class="">
                        <div class="card text-center py-5 w-100">
                            {#  <img class="card-img-top" src="img_avatar1.png" alt="Card image">#}
                            <i class="fa fa-list fa-5x"></i>
                            <div class="card-body">
                                <h4 class="card-title">Planificaciones</h4>
                                <p class="card-text">
                                    Alta, bajas, modificaciones y busquedas de usuarios.
                                </p>
                                <a href="{{ path('planificaciones_homepage') }}" class="btn btn-primary">Acceder</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="">
                        <div class="card text-center py-5 w-100">
                            {#  <img class="card-img-top" src="img_avatar1.png" alt="Card image">#}
                            <i class="fa fa-users fa-5x"></i>
                            <div class="card-body">
                                <h4 class="card-title">Usuarios</h4>
                                <p class="card-text">
                                    Alta, bajas, modificaciones y busquedas de usuarios.
                                </p>
                                <a href="{{ path('usuarios_index') }}" class="btn btn-primary">Acceder</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="">
                        <div class="card text-center py-5 w-100">
                            {#  <img class="card-img-top" src="img_avatar1.png" alt="Card image">#}
                            <i class="fa fa-key fa-5x"></i>
                            <div class="card-body">
                                <h4 class="card-title">Roles y permisos</h4>
                                <p class="card-text">
                                    Alta, bajas, modificaciones y busquedas roles y permisos.
                                </p>
                                <a href="#" class="btn btn-primary">Acceder</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>


            {#<div class="row">
                <div class="col-lg-4">
                    <div class="">
                        <div class="card text-center py-5 w-100">

                            <i class="fa fa-list fa-5x"></i>
                            <div class="card-body">
                                <h4 class="card-title">Adscripciones</h4>
                                <p class="card-text">
                                    Gestion de adscripciones de la FICH (docentes, investigadores, etc.).
                                </p>
                                <a href="#" class="btn btn-primary disabled">Acceder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}

            {# <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                 <img class="img-fluid pt-5" src="{{ asset('bundles/app/images/FICH-aniversario.png') }}"/>
             </main>#}


        </div>
    </div>
{% endblock %}
