<nav class="bg-azul light-font mb-0 position-relative" id="navbar2">   

    {{ wo_render_breadcrumbs() }}

    <span class="navbar-side-action centrate-y text-color-white">
    {% block navbar2_actions %}
        
            <a href="{{ path('planificaciones_nueva') }}" class="">
                Nueva planificaci&oacute;n
            </a>
       
    {% endblock %}
     </span>
</nav>
