<nav class="navbar p-0 py-3" id="navbar1">

    <!-- Navbar brand -->
    <a class="navbar-brand text-primary ml-3 pt-0" href="#">
        <img class="img-fluid logo" alt="InfoFICH" src="{{ asset('bundles/app/images/infofich.png') }}"/>
    </a>            

    <!-- Nav Item - User Information -->
    <ul class="list-unstyled text-right mb-0">

        <li class="nav-item d-inline-block align-middle">
            <a class="nav-link" href="{{ path('app_login') }}" role="button">                        
                <i class="fas fa-arrow-left"></i>&nbsp;Ir al inicio
            </a>
        </li>
    </ul>
</nav>