{{ form_start(delete_form) }}
<button role="submit" class="btn btn-sm btn-outline-danger confirmar-borrado"
        data-msg='¿Esta seguro que desea borrar este viaje?'>
    <i class="fa fa-trash"></i>
    {% if label %}
        &nbsp;{{ label }}
    {% endif %}
</button>
{{ form_end(delete_form) }}