{% extends 'base.html.twig' %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}          
            <a href="{{ path('permisos_index') }}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Volver al listado</a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="px-lg-5">

            <div class="my-3">
                {% include '::notificaciones.html.twig' %}
            </div>

            <div class="">

                {% include 'AppBundle:permiso:form.html.twig' %}


                {% embed '::botonera.html.twig' %}

                    {% block left %}
                        <button type="submit" id="crearPermiso" class="btn btn-primary">
                            Crear permiso
                        </button>
                    {% endblock %}
                    
                    {% block right %}
                        <a href="{{ path('permisos_index') }}" class="btn btn-outline-secondary">
                            Cancelar
                        </a>
                    {% endblock %}

                {% endembed %}


            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {

            $(document).ready(function () {
                $('#crearPermiso').click(function (e) {
                    e.preventDefault();
                    $("form[name='appbundle_permiso']").submit();
                });
            });




        });

    </script>


{% endblock %}