{% set page_id = 1 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}
    
    <div class="bg-white">
        <div class="container" >
            <div class="card card-register mx-auto">

                <div class="card-body px-5">

                    {% include '::notificaciones.html.twig' %}

                    <div class="mb-4 ml-10">
                        <h4>Informaci&oacute;n b&aacute;sica de la asignatura</h4>
                    </div>

                  {% include "PlanificacionesBundle:info-basica:form.html.twig" %}  
             
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        
      
        
        
    </script>
{% endblock %}