{% set page_id = 10 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}

    {% include 'PlanificacionesBundle:1-info-basica:resumen.html.twig' %}
    {% include 'PlanificacionesBundle:2-equipo-docente:resumen.html.twig' %}
    {% include 'PlanificacionesBundle:3-aprobacion-asignatura:resumen.html.twig' %}    

        
    <div class="" id="resumen-indice">
        <h5 class="text-muted">Indice</h5>
        <a class="nav-link js-scroll-trigger" href="#resumen-info-basica">Informaci&oacute;n b&aacute;sica</a>
        <a class="nav-link js-scroll-trigger" href="#resumen-equipo-docente">Equipo docente</a>
    </div>

{% endblock %} 


{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {


        });
    </script>


{% endblock %} 
