<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-equipo-docente">
    <div class="container pr-0 mt-4">
        <div class="mx-auto">

            <div class="container_equipo-docente">
                <div class="mb-4">
                    <h4>Equipo Docente</h4>
                </div>  
                
                {% form_theme form 'jquery.collection.html.twig'  %}
                {{ form(form) }}
                
                
                
                <hr/>
                <hr/>
                <hr/>
                <hr/>

                <form name="formEquipoDoc" id="formEquipoDoc" action="carga-formulario.php" method="post" class="needs-validation" novalidate>
                        <div id="equipo-doc-res">

                            <div class="form-row bloque_responsable mt-4 pt-10 pb-10">
                                <div class="form-group  col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <label for="responsable">Responsable</label>
                                </div>
                                <div class="form-group required  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="control-label" for="nombre">Nombre y Apellido
                                    </label>
                                    <select class="form-control" id="nombre_docente_res" 
                                            name="nombre_docente_res" required>
                                        <option value="">Seleccione</option>
                                        <option value="JuanP">Juan Perez</option>
                                    </select>                        
                                </div>
                                <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="dni_docente_res" class="control-label">DNI </label>
                                    <input class="form-control" id="dni_docente_res" 
                                           name="dni_docente_res" type="text" value="" 
                                           disabled required/>
                                </div>



                                <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                                <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="tel_docente_res" class="control-label">Teléfono </label>
                                    <input class="form-control" 
                                           id="tel_docente_res" 
                                           name="tel_docente_res" 
                                           type="text" value="" required disabled/>
                                </div>
                                <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="email_docente_res" class="control-label">Correo electrónico </label>
                                    <input class="form-control" 
                                           id="email_docente_res" 
                                           name="email_docente_res" 
                                           type="email" value="" required disabled/>
                                </div>                                          
                            </div>

                        </div>

                        <!-- Colaborador -->
                        <div id="equipo-doc-col" class= "mt-4">

                            <div class="form-row bloque_colaborador mt-4 pt-10 pb-10">
                                <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <label for="colaborador">Colaborador/a</label>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="control-label" for="nombre_docente_col">Nombre y Apellido
                                    </label>
                                    <select class="form-control" 
                                            id="nombre_docente_col" 
                                            name="nombre_docente_col" required>
                                        <option value="">Seleccione</option>
                                        <option value="JuanP">Juan Perez</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="dni_docente_col" class="control-label">DNI </label>
                                    <input class="form-control" 
                                           id="dni_docente_col" 
                                           name="dni_docente_col" 
                                           type="text" value="" required disabled/>
                                </div>


                                <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="tel_docente_col" class="control-label">Teléfono</label>
                                    <input class="form-control" 
                                           id="tel_docente_col" 
                                           name="tel_docente_col" 
                                           type="text" value="" required disabled/>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="email_docente_col" class="control-label">Correo electrónico</label>
                                    <input class="form-control" 
                                           id="email_docente_col" 
                                           name="email_docente_col" 
                                           type="email" value="" required disabled/>
                                </div>

                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 position-relative" >

                                    <div>
                                        <a href="#" id="btnBorrarDocente" class="position-absolute" style="bottom: 10px;">
                                            <i class="far fa-trash-alt"></i> Borrar
                                        </a>
                                    </div>
                                </div>


                            </div><!--bloque colaborador -->

                            <div class="form-group col-md-3 offset-md-2 col-lg-3 col-sm-6 col-xs-12">
                                <a href="#" id="btnAñadirColab">
                                    <i class="fa fa-plus-circle"></i> Añadir
                                </a>
                            </div>
                        </div>


                        <!-- Adscripto -->
                        <div id="equipo-doc-ads" class="mt-4">

                            <div class="form-row bloque_adscripto mt-4 pt-10 pb-10">
                                <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <label for="adscripto">Adscripto/a</label>

                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="control-label" for="nombre_docente_ads">Nombre y Apellido
                                    </label>
                                    <select class="form-control" 
                                            id="nombre_docente_ads" 
                                            name="nombre_docente_ads" required>
                                        <option value="">Seleccione</option>
                                        <option value="">Juan Perez</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="dni_docente_ads" class="control-label">DNI </label>
                                    <input class="form-control" 
                                           id="dni_docente_ads" 
                                           name="dni_docente_ads" 
                                           type="text" value="" required disabled/>
                                </div>

                                <div class="form-group col-lg-3 offset-lg-2 col-md-3 col-sm-6 col-xs-12">
                                    <label for="tel_docente_ads" class="control-label">Teléfono </label>
                                    <input class="form-control" 
                                           id="tel_docente_ads" 
                                           name="tel_docente_ads" 
                                           type="text" value="" required disabled/>
                                </div>


                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="email_docente_ads" class="control-label">Correo electrónico </label>
                                    <input class="form-control" 
                                           id="email_docente_ads" 
                                           name="email_docente_ads" 
                                           type="email" value="" required disabled/>
                                </div>                    

                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 position-relative" >

                                    <div>
                                        <a href="#" id="btnBorrarDocente" class="position-absolute" style="bottom: 10px;">
                                            <i class="far fa-trash-alt"></i> Borrar
                                        </a>
                                    </div>
                                </div>

                                <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="resolucion" class="control-label">Resolución de Consejo Directivo</label>
                                    <input class="form-control" id="resolucion" name="resolucion" type="text" value="" required/>
                                </div>


                            </div><!-- bloque_adscripto-->


                            <div class="form-group  col-md-3 offset-md-2 col-lg-3 col-sm-6 col-xs-12">
                                <a href="#" id="btnAñadirAdscripto">
                                    <i class="fa fa-plus-circle"></i> Añadir
                                </a>
                            </div>
                        </div>

                        <div class="col-12 mt-s text-right mb-4">

                            <button type="submit" class="btn btn btn-verde">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                Guardar
                            </button>

                            <a href="#" class="btn btn-secondary">
                                Cancelar
                            </a>
                        </div>

                    </form>


            </div>
        </div>
    </div>
</div>
</div>