<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-temario">
    <div class="container" >
        <div class="card card-register mx-auto">

            <div class="card-body px-5">
                
                {% include '::notificaciones.html.twig' %}
                
                <div class="mb-4 ml-10">  {#  quito la clase container  #}
                    <h4>Temario</h4>
                </div>

{#                {% form_theme form 'jquery.collection.html.twig' 'PlanificacionesBundle:Planificacion:form_theme-tema.html.twig' %}#}
{#                {% form_theme form 'PlanificacionesBundle:Planificacion:form_theme-tema.html.twig' 'jquery.collection.html.twig'  %}#}
                {% form_theme form 'jquery.collection.html.twig'  %}
                {{ form(form) }}

{#                {% include 'temario-item.html.twig' %}#}

                {#<div class="form-row">
                    <div class="form-group  col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="#" id="btnAñadirTema" >
                            <i class="fa fa-plus-circle"></i>
                            Añadir
                        </a>
                    </div>
                </div>
                <div class="col-12 mt-s text-right mb-4">

                    <button type="submit" class="btn btn btn-verde">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        Guardar
                    </button>

                    <a href="#" class="btn btn-secondary">
                        Cancelar
                    </a>
                </div>#}

{#                {{ form_end(form) }}#}

            </div>
        </div>
    </div>
</div>
