{% set page_id = 7 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #planificacionesbundle_actividadcurricular_dictadoVariasComisiones label{
            font-weight: normal !important;
            margin-right: 1rem;
        }

        #planificacionesbundle_actividadcurricular_dictadoVariasComisiones label.required:after{
            content: none;
        }

    </style>
{% endblock %}



{% block tab_content %}

    {% embed 'PlanificacionesBundle:7-cronograma:form.html.twig' %}

        {% block form_actions %}                

            <div class="form-row mt-5">
                <div class="form-group col-md-10">
                    {% embed '::botonera.html.twig' %}

                        {% block left %}
                            <button type="submit" role="button" class="btn btn-success">
                                <i class="fa fa-check"></i>&nbsp;
                                Crear actividad
                            </button>  
                        {% endblock %}

                        {% block right %}
                            <a href="{{ path('planif_act_curriculares_editar', { id : planificacion.id }) }}" class="btn btn-secondary">
                                Cancelar
                            </a>               
                        {% endblock %}

                    {% endembed %}
                </div>
            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if planificacion.puedeEditarse() %}
        {% include 'PlanificacionesBundle:7-cronograma:modal-dist-horaria.html.twig' %}
    {% endif %}

{% endblock %}