/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2020, 8:30:59 PM
    Author     : emi88
*/



/*#breadcrumb{
    .breadcrumb {
        background-color: inherit; 
    }

    box-shadow: 0 4px 8px rgba(0,0,0,.25);

}*/

#wo-breadcrumbs{
    a{
        color: white;
    }
    
    li:last-child{
        span[itemprop="name"]{
            font-weight: bold;
        }
    }
}