/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2020, 1:40:04 PM
    Author     : emi88
*/

/*@media (min-width: 1200px){
    .container{
        width: 65%;
    }
}*/

/*@media (width: 768px) and (width: 1199px){
    .container{
        width: 100%;
    }
}*/

/*@media (min-width: 992px){*/
/*    .container {
        width: 35% !important;
    }*/
/*}*/