/**
* _overrides.scss
*
* En este archivo se "pisan" estilos asignados por default por browsers y los frameworks utilizados.
*
* Autores:
*   - Basconcel, Brisa
*   - Galarza, Romina
*   - Sangoi, Emiliano
*/



*{
    border-radius: 0px !important;
}

.ui-btn{
    text-shadow: none !important;
    margin-left: .1rem !important;
    margin-right: .1rem !important;
    padding: .5rem 1rem;
}

a{
    outline: 0;
}

.ui-overlay-a{
    background-color: $white;
}

.ui-page-theme-a a{
    color: $white !important;
}

.nav-pills .nav-link {
    color: #6b6b6b;
    border-radius: 0.35rem;
    border: 1px solid $gris-2;
    border-top:none;
    padding: 2px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #6b6b6b;
    background-color: #eeeeee;
    border-right: none;

    border-left: 5px solid $azul;

}

#menuLateral .nav-link {
    line-height: 100%;
    padding: .9em 1.5em; }
/*#menuLateral .nav-link.active i {
    color: white !important; }1*/

#menuLateral{  

    .nav-link{
        line-height: 100%;
        padding: 1.3em 1.5em;

        &.active{
            i{
                //color: $white !important;
            }
        }


    }

}

.light-font .breadcrumb-item + .breadcrumb-item::before {
    color: $white !important; }
.light-font .breadcrumb-item.active {
    color: $white !important; }

.container .card {
    border: none !important;       
}

.card-body{
    background-color: #eeeeee;
}

#accordion .card .card-header{
    background-color: $azul !important; 
    color: $white;
    padding: .25rem .25rem;
}

#accordion .card .card-header .btn{
    color: $white;
}

.container-inicio{
    background-color: #eeeeee;
}

.btn-link:focus, .btn-link:hover {
    text-decoration: none;
    
}

.border-azul{
    border: $primary solid 1px;
    color: $primary;
}