


#planificaciones, #tab-content{
    background-color: $gris-4;


}

#tab-content{
    form {
        label{
            font-weight: bold;
        }

        .form-row{
            margin-bottom: 1.5rem;
        }
    }
}

#planificaciones{
    min-height: 120vh;
}

#v-pills-tab a.active{
    background-color: white;
}
