


#planificaciones{
    background-color: $gris-4;


}

#tab-content{
    
    form {
        label{
            font-weight: bold;
        }

        .form-row{
            margin-bottom: 1.5rem;
        }
    }
}

#planificaciones, .tab-pane{
    min-height: 100vh;
}

#v-pills-tab a.active{
    background-color: white;
    color: $primary;    
}


.tab-pane{
    /*margin: 0;*/
    /*padding: 0;*/
    background-color: $white;
    padding-top: 1em;
}
