/**
* Archivos principal de estilo
* Se debe compilar utilizando sass desde la terminal o con cualquier otra herramienta.
* Ejemplo:
*     $ cd /dir/proyecto
*     $ sass scss/styles.scss css/styles.css
*
* Autores:
*   - Basconcel, Brisa
*   - Galarza, Romina
*   - Sangoi, Emiliano <emiliano.sangoi@gmail.com>
*/


@import '_variables';
@import '_botones';
@import '_main-header';
@import '_overrides';
@import '_footer';
@import '_login';
@import '_mixins';
@import '_tipografia';
@import '_planificaciones';
@import '_forms';
@import '_tabs';
//@import 'sb_admin2/sb-admin-2.scss';



/*--------------------------------------------------------------------------------------------------------*/
/* Tipografias */




/* Fin Tipografias */
/*--------------------------------------------------------------------------------------------------------*/


html{
    // Sobre este valor se toma una unidad de rem:
    font-size: 17px;
}

body{
    font-family: $font-lato;
}

//Clase para visualizar border en divs.
.debug *{
    border: 1px dashed red;
}

* {
    margin: 0;
    padding: 0;
}


/*Posicionamiento*/
.float-left { float: left !important; }
.float-right { float: right !important; }
.float-none { float: none !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

.position-relative{ position: relative; }
.position-absolute{ position: absolute; }

.opacity-50{ opacity: .5; }


$content-info-left-panel-h: 23vh;
$content-info-right-panel-h: 20.25vh;


#content{

    .content-info{

        .left-panel{
            height: $content-info-left-panel-h;
            position: relative;
            background-image: url('../img/fragmento-info.png');
            background-repeat: no-repeat;

            h1{
                font-size: 2.8rem;
            }

            h4{
                font-size: 1.3rem;
            }

            & > div{
                // margin-left: auto;
                // margin-right: auto;
                position: absolute;
                left: 16%;
                top: 16%;
            }

        }

        .right-panel{

            .right-panel-header{
                height: $content-info-right-panel-h !important;
            }

        }

    }

}

#resumen-indice{
    position: fixed;
    right: 3em;
    bottom: 3em;    
    background-color: $gris-4;
    
    
    h5, a.nav-link{
        padding: .75em 1em;
    }
    
    h5{
        font-size: 100%;
        color: black;
    }
    
    a.nav-link{
        line-height: 100%;        
        color: black;
        
        &:hover{
            color: $primary;
        }
    }
    
}


.content-header{
    // height: $content-header-height;
}


.line-height-100{
    line-height: 100%;
}

.notificacion-warning{
    @include notificacion($notific-warning,$notific-warning);
}

.notificacion-error{
    @include notificacion($notific-alerta, $notific-alerta);
}

.notificacion-success{
    @include notificacion($notific-success, $notific-success);
}


.acordeon-header{
    position: relative;

    i.fa{
        position: absolute;
        right: .50rem;
        top: .750rem;
    }

}


#temario .form-row:nth-of-type(odd),
#equipo-doc-res .form-row:nth-of-type(odd),
#equipo-doc-col .form-row:nth-of-type(odd),
#equipo-doc-ads .form-row:nth-of-type(odd)
{
    background-color:#eeeeee;
}

#temario .form-row:nth-of-type(even),
#equipo-doc-res .form-row:nth-of-type(even),
#equipo-doc-col .form-row:nth-of-type(even),
#equipo-doc-ads .form-row:nth-of-type(even) {
    background-color: white;
}

.container_temario, .container_equipo-docente{
    padding-left: 50px;
    padding-top: 20px;
}