/**
* Archivos principal de estilo
* Se debe compilar utilizando sass desde la terminal o con cualquier otra herramienta.
* Ejemplo:
*     $ cd /dir/proyecto
*     $ sass scss/styles.scss css/styles.css
*
* Autores:
*   - Basconcel, Brisa
*   - Galarza, Romina
*   - Sangoi, Emiliano <emiliano.sangoi@gmail.com>
*/


@import'_variables.scss';
@import'_botones.scss';
@import'_main-header.scss';
@import'_overrides.scss';
@import'_footer.scss';
@import'_login.scss';
//@import'_sb-admin-2.css';


/*--------------------------------------------------------------------------------------------------------*/
/* Tipografias */

// Lato
$font-lato: 'Lato';
@font-face {
  font-family: $font-lato;
  src: url('../fonts/Lato/Lato_Regular.ttf');
}

@font-face {
  font-family: $font-lato;
  src: url('../fonts/Lato/Lato_Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: $font-lato;
  src: url('../fonts/Lato/Aller_RegularItalic.ttf');
  font-style: italic;
}

@font-face {
  font-family: $font-lato;
  src: url('../fonts/Lato/Aller_BolddItalic.ttf');
  font-style: italic;
  font-weight: bold;
}


.font-weight-light { font-weight: 300 !important; }
.font-weight-lighter { font-weight: lighter !important; }
.font-weight-normal { font-weight: 400 !important; }
.font-weight-bold { font-weight: 600 !important; }
.font-weight-bolder { font-weight: bolder !important; }
.font-italic { font-style: italic !important; }



/* Fin Tipografias */
/*--------------------------------------------------------------------------------------------------------*/


html{
  // Sobre este valor se toma una unidad de rem:
  font-size: 15px;
}

body{
  font-family: $font-lato;
}

//Clase para visualizar border en divs.
.debug *{
    border: 1px dashed red;
}


/*Posicionamiento*/
.float-left { float: left !important; }
.float-right { float: right !important; }
.float-none { float: none !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }




// Creacion de clases .w-n en donde n es un valor en porcentaje definido en $sizes en el archivo _variables.scss
@each $size_n, $size_v in $sizes {
    .w-#{$size_n} {
        width: $size_v !important;
    }
}


$content-info-left-panel-h: 23vh;
$content-info-right-panel-h: 20.25vh;


#content{

  .content-info{

      .left-panel{
        height: $content-info-left-panel-h;
        position: relative;
        background-image: url('../img/fragmento-info.png');
        background-repeat: no-repeat;

        h1{
          font-size: 2.8rem;
        }

        h4{
          font-size: 1.3rem;
        }

        & > div{
          // margin-left: auto;
          // margin-right: auto;
          position: absolute;
          left: 16%;
          top: 16%;
        }

      }

      .right-panel{

        .right-panel-header{
          height: $content-info-right-panel-h !important;
        }

      }

  }

}

.header-box{
    //La altura del help-box es aprox. 80% la altura del header que lo contiene.
    height: $content-info-right-panel-h * .8;
    color: $white;
    font-size: 110%;

    div{
      line-height: 1.2;
    }
}

.qr-block{
  button{
    position: relative;

    img{
      position: absolute;
      right: 8px;
    }
  }

  .qr{
    height: 30vh;
  }


}

#paso2{
  .content-info{
    .left-panel{
      p{
        font-size: 135%;
      }
    }
  }
}



.content-header{
    // height: $content-header-height;
}

//http://jsfiddle.net/2bZAW/
//Chanfle superior izquierdo
//.content-info:after {
  //content: '';
  //position: absolute;
  //top: 0;
  //left: 0;
  //border-top: $step-info-border-t solid $white;
  //border-right: $step-info-border-r solid $primary;
  //
  //width: 0;
//}

//.content-info:before {
  //content: '';
  //position: absolute;
  //bottom: 0;
  //right: 0;
  //border-bottom: $step-info-border-b solid $white;
  //border-left: $step-info-border-l solid $primary;
  //width: 0;
//}

// $help-box-height: $content-header-height * .5;
// $m-help-box: ($content-header-height - $help-box-height) / 2;
.help-box{


    //height: $help-box-height;
    //margin-top: $m-help-box;
    //margin-bottom: $m-help-box;
}

.trasl {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
