{% set page_id = 2 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}
    {% include "PlanificacionesBundle:2-equipo-docente:form.html.twig" %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% include "PlanificacionesBundle:planificacion:script-docentes.html.twig" %}

    {% if planificacion.puedeEditarse() %}
        <script>

            $(document).ready(function () {

                // DOCENTES COLABORADORES
                // =====================================================================================
                $('.docentes-colaboradores-selector').collection({
                    position_field_selector: '.orden',
                    after_add: afterAddDocente,
                    add: '<a href="#" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Agregar colaborador</a>',
                    allow_duplicate: false
                });


                // DOCENTES ADSCRIPTOS
                // =====================================================================================
                $('.docentes-adscriptos-selector').collection({
                    position_field_selector: '.orden',
                    after_add: afterAddDocente,
                    add: '<a href="#" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Agregar adscripto</a>',
                    allow_duplicate: false
                });

            });
        </script>
    {% endif %}


{% endblock %}
