{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar %}
    {% include 'navbar-simple.html.twig' %} 
{% endblock %} 

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}                 
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="">
        <div class="px-lg-5">

            <div class="my-3">
                {% include '::notificaciones.html.twig' %}
            </div>

            <div class="bg-light px-4 py-3">
                <h3 class="font-weight-bold">
                    Recuperar contraseña
                </h3>
                <p class="mt-4">
                    A continuación ingrese un correo eletr&oacute;nico al que se enviará una nueva contraseña.
                </p>
                <div class="mt-3 mb-2">
                    {{  form_start(form) }}
{#                    <div class="form-row">#}
{#                        <div class="col-12 ">#}

                            <label class="my-1 mr-2 align-middle" for="inlineFormInputGroupUsername2">{{ form_label(form.email) }}      </label>

                            <div class="input-group mb-2 mr-sm-2 col-lg-8">
                                {{ form_widget(form.email) }}                         
                            </div>

                            <button type="submit" class="btn btn-primary mb-2">Resetear contraseña</button>

{#                        </div>#}
{#                    </div>#}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}