{# Utilizado en la sección revisar #}
<div>

    <div class="row">        
        <div class="col-sm-10">
            {#<label class="font-weight-bold">Temario</label>#}           
            {% if resumen.temario[0] is not defined %}
                <p class="text-muted">
                    No se han definido ninguna item en el temario.
                </p>
            {% else %}
                <ul>
                    {% for r in resumen.temario %}
                        <li>
                            <p>                      
                                <strong>Unidad </strong>{{ r.unidad }} <strong>Título </strong>{{ r.titulo }}  <strong>Contenido </strong>{{ r.contenido|default(global_sd)}}  
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}              
        </div>       
    </div>    

    <div class="mt-4">          
        <a class="btn btn-outline-primary" href="{{ path('planif_temario_editar', {id : planificacion.id}) }}">
            <i class="fa fa-edit"></i>&nbsp;Modificar
        </a>                    
    </div>

</div>