{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            <a href="{{ path('vehiculos_listado') }}" class="">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;
                Volver
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="pb-5">

        <div class="my-3">
            {% include '::notificaciones.html.twig' %}
        </div>
        {% include 'VehiculosBundle:Vehiculo:form.html.twig' %}

        {% embed '::botonera.html.twig' %}

            {% block left %}
                <button role="submit" class="btn btn-primary" form="{{ form.vars.attr.id }}">
                    <i class="fa fa-check"></i>&nbsp;Crear
                </button>
            {% endblock %}
            {% block right %}
                <a href="{{ path('vehiculos_listado') }}"
                   class="btn btn-secondary">
                    Cancelar
                </a>
            {% endblock %}

        {% endembed %}

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

        <script>
        $(document).ready(function () {
            $('#btnCrear').click(function (e) {
                e.preventDefault();
                $("form[name='vehiculosbundle_vehiculo']").submit();
            });
        });
    </script>

{% endblock %}
