{% extends 'base.html.twig' %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}                            
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="px-lg-5">

            <div class="my-3">
                {% include '::notificaciones.html.twig' %}
            </div>

            <div class="bg-light p-5">
                {% embed 'AppBundle:usuario:form.html.twig' %}

                    {% block botones_left %}
                        <input type="submit" value="Crear usuario" class="btn btn-primary" />
                    {%endblock %}

                    {% block botones_right %}
                        <a href="{{ path('usuarios_index') }}" class="btn btn-outline-secondary">Cancelar</a>
                    {%endblock %}

                {% endembed %}

            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {


            $('#usuario_roles').select2({
                'multiple': true
            });





        });

    </script>


{% endblock %}