/**
* Archivos principal de estilo
* Se debe compilar utilizando sass desde la terminal o con cualquier otra herramienta.
* Ejemplo:
*     $ cd /dir/proyecto
*     $ sass scss/styles.scss css/styles.css
*
* Autores:
*   - Basconcel, Brisa
*   - Galarza, Romina
*   - Sangoi, Emiliano <emiliano.sangoi@gmail.com>
*/
/**
*/
/*  boton borrar */
/* gris letras */
/* gris boton cancelar */
/* gris usuario navbar */
/* usado como fondo en la planif */
/**
Para todos los colores de esta lista se
crearan automaticamentes fondos y colores de texto
 */
.bg-white {
  background-color: white !important; }

.text-color-white {
  color: white !important; }

.bg-gray-100 {
  background-color: #f8f9fa !important; }

.text-color-gray-100 {
  color: #f8f9fa !important; }

.bg-gray-200 {
  background-color: #e9ecef !important; }

.text-color-gray-200 {
  color: #e9ecef !important; }

.bg-gray-300 {
  background-color: #dee2e6 !important; }

.text-color-gray-300 {
  color: #dee2e6 !important; }

.bg-gray-400 {
  background-color: #ced4da !important; }

.text-color-gray-400 {
  color: #ced4da !important; }

.bg-gray-500 {
  background-color: #adb5bd !important; }

.text-color-gray-500 {
  color: #adb5bd !important; }

.bg-gray-600 {
  background-color: #868e96 !important; }

.text-color-gray-600 {
  color: #868e96 !important; }

.bg-gray-700 {
  background-color: #495057 !important; }

.text-color-gray-700 {
  color: #495057 !important; }

.bg-gray-800 {
  background-color: #343a40 !important; }

.text-color-gray-800 {
  color: #343a40 !important; }

.bg-gray-900 {
  background-color: #212529 !important; }

.text-color-gray-900 {
  color: #212529 !important; }

.bg-black {
  background-color: #000 !important; }

.text-color-black {
  color: #000 !important; }

.bg-dark {
  background-color: #262626 !important; }

.text-color-dark {
  color: #262626 !important; }

.bg-dark-2 {
  background-color: #212121 !important; }

.text-color-dark-2 {
  color: #212121 !important; }

.bg-primary {
  background-color: #006CB7 !important; }

.text-color-primary {
  color: #006CB7 !important; }

.bg-azul {
  background-color: #0063ae !important; }

.text-color-azul {
  color: #0063ae !important; }

.bg-bordo {
  background-color: #6c0000 !important; }

.text-color-bordo {
  color: #6c0000 !important; }

.bg-gris-1 {
  background-color: #58595b !important; }

.text-color-gris-1 {
  color: #58595b !important; }

.bg-gris-2 {
  background-color: #bbbdbf !important; }

.text-color-gris-2 {
  color: #bbbdbf !important; }

.bg-gris-3 {
  background-color: #575756 !important; }

.text-color-gris-3 {
  color: #575756 !important; }

.bg-gris-4 {
  background-color: #eeeeee !important; }

.text-color-gris-4 {
  color: #eeeeee !important; }

.bg-alerta {
  background-color: #dc0701 !important; }

.text-color-alerta {
  color: #dc0701 !important; }

.bg-verde {
  background-color: #009e75 !important; }

.text-color-verde {
  color: #009e75 !important; }

/*// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes-start: 1;
$sizes-end: 100;
@for $i from $sizes-start through $sizes-end{
  $sizes: map-merge(
                  (
                          $i+"" : $i + 0%
                  ), $sizes);
}

$sizes: map-merge(
  (
          auto: auto
  ), $sizes);*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 4, 2018, 4:49:58 PM
    Author     : brisa
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2020, 8:30:59 PM
    Author     : emi88
*/
/*#breadcrumb{
    .breadcrumb {
        background-color: inherit; 
    }

    box-shadow: 0 4px 8px rgba(0,0,0,.25);

}*/
#wo-breadcrumbs {
  margin-bottom: 0px; }
  #wo-breadcrumbs a {
    color: white; }
  #wo-breadcrumbs li:last-child span[itemprop="name"] {
    font-weight: bold; }

/*
 _main-header.scss

 Estilos para el header principal y todos los elementos que contiene

 */
#main-header {
  height: 17.5vh;
  border: none; }
  #main-header .ui-block-a {
    position: relative; }
    #main-header .ui-block-a img {
      position: absolute;
      height: 8.5vh;
      top: 4.8vh;
      left: 8%; }

#navbar1 {
  background-color: white; }
  #navbar1 .navbar-brand .logo {
    width: 30%; }

#navbar2 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 500; }
  #navbar2 .breadcrumb {
    background-color: inherit; }

/**
* _overrides.scss
*
* En este archivo se "pisan" estilos asignados por default por browsers y los frameworks utilizados.
*
* Autores:
*   - Basconcel, Brisa
*   - Galarza, Romina
*   - Sangoi, Emiliano
*/
* {
  border-radius: 0px !important; }

.ui-btn {
  text-shadow: none !important;
  margin-left: .1rem !important;
  margin-right: .1rem !important;
  padding: .5rem 1rem; }

a {
  outline: 0; }

.ui-overlay-a {
  background-color: white; }

.ui-page-theme-a a {
  color: white !important; }

.nav-pills .nav-link {
  color: #6b6b6b;
  border-radius: 0.35rem;
  border: 1px solid #bbbdbf;
  border-top: none;
  padding: 2px; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #6b6b6b;
  background-color: #eeeeee;
  border-right: none;
  border-left: 5px solid #0063ae; }

/*#menuLateral .nav-link {
    line-height: 100%;
    padding: .9em 1.5em; 
}*/
/*#menuLateral .nav-link.active i {
    color: white !important; }1*/
#menuLateral .nav-link {
  line-height: 100%;
  padding: 1.3em 1.5em;
  background-color: #eeeeee; }
  #menuLateral .nav-link.active i {
    color: white !important; }

.light-font .breadcrumb-item + .breadcrumb-item::before {
  color: white !important; }

.light-font .breadcrumb-item.active {
  color: white !important; }

.container .card {
  border: none !important; }

#accordion .card .card-header {
  background-color: #0063ae !important;
  color: white;
  padding: .25rem .25rem; }

#accordion .card .card-header .btn {
  color: white; }

.btn-link:focus, .btn-link:hover {
  text-decoration: none; }

.border-azul {
  border: #006CB7 solid 1px;
  color: #006CB7; }

/* Estilos para el footer */
#footer {
  border: none;
  background-color: inherit; }
  #footer .btn-reset {
    position: relative; }
    #footer .btn-reset img {
      position: absolute;
      left: 8px;
      vertical-align: middle; }
    #footer .btn-reset span {
      font-size: 150%; }

/*body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  //background-color: #f5f5f5;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}*/
#login {
  /*https://css-tricks.com/perfect-full-page-background-image/*/ }
  #login img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px); }
  #login h1 {
    font-size: 2rem; }
  #login h4 {
    font-size: 1rem; }
  #login .logo {
    width: 75%;
    position: absolute;
    right: 0;
    margin-top: 10vh; }
    #login .logo img.img-fluid {
      width: 50%; }
  #login .row {
    margin-right: 0;
    margin-left: 0; }
  #login .card {
    position: relative;
    /*height: 76vh;*/
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 75%;
    padding-top: 6vh;
    padding-bottom: 6vh;
    background-color: white; }
  #login form label {
    font-weight: bold; }

@media (max-width: 575.98px) {
  #login .logo {
    width: 95%;
    text-align: center;
    position: static; }
  #login .card {
    width: 95%;
    margin-right: auto;
    margin-left: auto; } }
/*
  Centrar elementos horizontalmente, verticalmente o ambos.

  La clase padre debe tener posicionamiento relativo.
  https://css-tricks.com/snippets/sass/centering-mixin/
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 29, 2020, 5:27:29 PM
    Author     : emi88
*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf"); }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-BlackItalic.ttf");
  font-style: italic;
  font-weight: bold; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-RegularItalic.ttf");
  font-style: italic; }
.font-weight-light {
  font-weight: 300 !important; }

.font-weight-lighter {
  font-weight: lighter !important; }

.font-weight-normal {
  font-weight: 400 !important; }

.font-weight-bold {
  font-weight: 600 !important; }

.font-weight-bolder {
  font-weight: bolder !important; }

.font-italic {
  font-style: italic !important; }

#planificaciones {
  background-color: #eeeeee; }

#tab-content form label {
  font-weight: bold; }
#tab-content form .form-row {
  margin-bottom: 1.5rem; }

#planificaciones, .tab-pane {
  min-height: 100vh; }

#v-pills-tab a.active {
  background-color: white; }

.tab-pane {
  /*margin: 0;*/
  /*padding: 0;*/
  background-color: white;
  padding-top: 1em; }

.js-select2 {
  /*background-color: red;*/ }

/*.select2-container--bootstrap .select2-selection{
    font-size: inherit;
}*/
.select2 .select2-container {
  /*background-color: red;*/
  /*height: calc(1.5em + .75rem + 2px) !important;*/
  /*.select2-selection .select2-selection--single{*/
  /*height: 100% !important;*/
  /*}*/ }

form[name='buscador'] label {
  font-weight: bold; }

/*.actividad-curricular:nth-child(even) {background-color: red;};*/
form {
  /*    select.select2-js{
          background-color: red !important;
      }*/
  /*    select, span.select2{
          background-color: blue !important;
      }*/ }
  form label.required:after {
    content: " *";
    color: red; }
  form input[type='radio'], form input[type='checkbox'] {
    margin-right: .5em; }
  form .form-row {
    margin-bottom: 2.5rem !important; }

.formato-inputs-groups label {
  margin-right: 3em; }
  .formato-inputs-groups label.required:after {
    content: none; }

#tab-pane-temario form .form-row {
  margin-bottom: 1rem !important; }

#tab-pane-equipo-docente form .form-row {
  margin-bottom: 1rem !important; }

.fix-select2-styles {
  /*height: calc(1.5em + .75rem + 2px) !important;*/
  /*background-color: yellow !important;*/
  /*
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px) !important;;
      padding: .375rem .75rem !important;;
      font-size: 1rem !important;;
      font-weight: 400 !important;;
      line-height: 1.5 !important;;
      color: #495057 !important;;
      background-color: #fff !important;;
      background-clip: padding-box !important;
      border: 1px solid #ced4da !important;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/ }

/*--------------------------------------------------------------------------------------------------------*/
/* Tipografias */
/* Fin Tipografias */
/*--------------------------------------------------------------------------------------------------------*/
html, body {
  height: 100%;
  margin: 0px; }

html {
  font-size: 17px; }

body {
  font-family: "Lato";
  background-color: #eeeeee; }

.debug * {
  border: 1px dashed red; }

* {
  /*    margin: 0;
      padding: 0;*/ }

/*Posicionamiento*/
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.opacity-50 {
  opacity: .5; }

#content .content-info .left-panel {
  height: 23vh;
  position: relative;
  background-image: url("../img/fragmento-info.png");
  background-repeat: no-repeat; }
  #content .content-info .left-panel h1 {
    font-size: 2.8rem; }
  #content .content-info .left-panel h4 {
    font-size: 1.3rem; }
  #content .content-info .left-panel > div {
    position: absolute;
    left: 16%;
    top: 16%; }
#content .content-info .right-panel .right-panel-header {
  height: 20.25vh !important; }

#resumen-indice {
  position: fixed;
  right: 3em;
  bottom: 3em;
  background-color: #eeeeee; }
  #resumen-indice h5, #resumen-indice a.nav-link {
    padding: .75em 1em; }
  #resumen-indice h5 {
    font-size: 100%;
    color: black; }
  #resumen-indice a.nav-link {
    line-height: 100%;
    color: black; }
    #resumen-indice a.nav-link:hover {
      color: #006CB7; }

.line-height-100 {
  line-height: 100%; }

.notificacion-warning {
  border: 1px solid #ffc122;
  border-left: 8px solid #ffc122; }
  .notificacion-warning i.fas {
    color: #ffc122; }
  .notificacion-warning .titulo {
    color: #ffc122; }
  .notificacion-warning .msg {
    color: #575756; }

.notificacion-error {
  border: 1px solid #dd3445;
  border-left: 8px solid #dd3445; }
  .notificacion-error i.fas {
    color: #dd3445; }
  .notificacion-error .titulo {
    color: #dd3445; }
  .notificacion-error .msg {
    color: #575756; }

.notificacion-success {
  border: 1px solid #009e75;
  border-left: 8px solid #009e75; }
  .notificacion-success i.fas {
    color: #009e75; }
  .notificacion-success .titulo {
    color: #009e75; }
  .notificacion-success .msg {
    color: #575756; }

.acordeon-header {
  position: relative; }
  .acordeon-header i.fa {
    position: absolute;
    right: .50rem;
    top: .750rem; }

#temario .form-row:nth-of-type(odd),
#equipo-doc-res .form-row:nth-of-type(odd),
#equipo-doc-col .form-row:nth-of-type(odd),
#equipo-doc-ads .form-row:nth-of-type(odd) {
  background-color: #eeeeee; }

#temario .form-row:nth-of-type(even),
#equipo-doc-res .form-row:nth-of-type(even),
#equipo-doc-col .form-row:nth-of-type(even),
#equipo-doc-ads .form-row:nth-of-type(even) {
  background-color: white; }

.container_temario, .container_equipo-docente {
  padding-left: 50px;
  padding-top: 20px; }

.w-80 {
  width: 80%; }

.navbar-side-action {
  position: absolute;
  right: 1em; }
  .navbar-side-action a {
    color: white;
    text-decoration: none; }
    .navbar-side-action a:hover {
      color: #eeeeee; }

.centrate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.centrate-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

.centrate-y {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }

/*# sourceMappingURL=styles.css.map */
