/**
* Archivos principal de estilo
* Se debe compilar utilizando sass desde la terminal o con cualquier otra herramienta.
* Ejemplo:
*     $ cd /dir/proyecto
*     $ sass scss/styles.scss css/styles.css
*
* Autores:
*   - Basconcel, Brisa
*   - Galarza, Romina
*   - Sangoi, Emiliano <emiliano.sangoi@gmail.com>
*/
/**
*/
/*  boton borrar */
/* gris letras */
/* gris boton cancelar */
/* gris usuario navbar */
/* usado como fondo en la planif */
/**
Para todos los colores de esta lista se
crearan automaticamentes fondos y colores de texto
 */
.bg-white {
  background-color: white !important; }

.text-color-white {
  color: white !important; }

.bg-gray-100 {
  background-color: #f8f9fa !important; }

.text-color-gray-100 {
  color: #f8f9fa !important; }

.bg-gray-200 {
  background-color: #e9ecef !important; }

.text-color-gray-200 {
  color: #e9ecef !important; }

.bg-gray-300 {
  background-color: #dee2e6 !important; }

.text-color-gray-300 {
  color: #dee2e6 !important; }

.bg-gray-400 {
  background-color: #ced4da !important; }

.text-color-gray-400 {
  color: #ced4da !important; }

.bg-gray-500 {
  background-color: #adb5bd !important; }

.text-color-gray-500 {
  color: #adb5bd !important; }

.bg-gray-600 {
  background-color: #868e96 !important; }

.text-color-gray-600 {
  color: #868e96 !important; }

.bg-gray-700 {
  background-color: #495057 !important; }

.text-color-gray-700 {
  color: #495057 !important; }

.bg-gray-800 {
  background-color: #343a40 !important; }

.text-color-gray-800 {
  color: #343a40 !important; }

.bg-gray-900 {
  background-color: #212529 !important; }

.text-color-gray-900 {
  color: #212529 !important; }

.bg-black {
  background-color: #000 !important; }

.text-color-black {
  color: #000 !important; }

.bg-dark {
  background-color: #262626 !important; }

.text-color-dark {
  color: #262626 !important; }

.bg-dark-2 {
  background-color: #212121 !important; }

.text-color-dark-2 {
  color: #212121 !important; }

.bg-primary {
  background-color: #006CB7 !important; }

.text-color-primary {
  color: #006CB7 !important; }

.bg-azul {
  background-color: #0063ae !important; }

.text-color-azul {
  color: #0063ae !important; }

.bg-bordo {
  background-color: #6c0000 !important; }

.text-color-bordo {
  color: #6c0000 !important; }

.bg-gris-1 {
  background-color: #58595b !important; }

.text-color-gris-1 {
  color: #58595b !important; }

.bg-gris-2 {
  background-color: #bbbdbf !important; }

.text-color-gris-2 {
  color: #bbbdbf !important; }

.bg-gris-3 {
  background-color: #575756 !important; }

.text-color-gris-3 {
  color: #575756 !important; }

.bg-gris-4 {
  background-color: #eeeeee !important; }

.text-color-gris-4 {
  color: #eeeeee !important; }

.bg-alerta {
  background-color: #dc0701 !important; }

.text-color-alerta {
  color: #dc0701 !important; }

.bg-verde {
  background-color: #009e75 !important; }

.text-color-verde {
  color: #009e75 !important; }

/*// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes-start: 1;
$sizes-end: 100;
@for $i from $sizes-start through $sizes-end{
  $sizes: map-merge(
                  (
                          $i+"" : $i + 0%
                  ), $sizes);
}

$sizes: map-merge(
  (
          auto: auto
  ), $sizes);*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 4, 2018, 4:49:58 PM
    Author     : brisa
*/
/* Estilo para los botones del paso a paso */
.btn-step {
  /*background-color: $azul-2 !important;*/
  /*box-shadow:10px 10px 0 rgba(0,0,0,.5);*/
  color: white !important;
  display: inline-block;
  text-decoration: none;
  padding: .1rem 1rem;
  font-size: 130% !important;
  text-shadow: none;
  width: 8%; }

.parallelogram {
  position: relative;
  background: #008dd0;
  width: 8%;
  border: none;
  display: inline-block;
  padding: 0px;
  margin: 0 1px; }

.parallelogram-m {
  transform-origin: bottom left;
  -ms-transform: skew(-28deg, 0deg);
  -webkit-transform: skew(-28deg, 0deg);
  transform: skew(-28deg, 0deg);
  margin-left: 1px; }

.step-start:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #008dd0;
  transform-origin: bottom left;
  -ms-transform: skew(-28deg, 0deg);
  -webkit-transform: skew(-28deg, 0deg);
  transform: skew(-28deg, 0deg); }

.step-end:before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: -51px;
  z-index: -1;
  background: #ffa008;
  transform-origin: bottom left;
  -ms-transform: skew(-28deg, 0deg);
  -webkit-transform: skew(-28deg, 0deg);
  transform: skew(-28deg, 0deg); }

.parallelogram:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

.parallelogram-btn {
  width: 60px;
  position: relative;
  background: #ffa008;
  color: #FFF;
  border: none;
  display: inline-block;
  height: 90px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px;
  margin-left: 51px;
  font-weight: 700;
  cursor: pointer; }

.step-start:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: yellow;
  border-top: 10px solid red;
  border-right: 10px solid transparent; }

.btn-step:hover {
  /*box-shadow: 0 0 0 ;*/ }

.parallelogram {
  transform: skew(-26deg); }

.skew-fix {
  display: inline-block;
  transform: skew(26deg); }

.trapezoid {
  width: 30px;
  text-align: center;
  height: 0;
  position: relative;
  border-right: 50px solid transparent;
  border-top: 40px solid #2963BD;
  border-left: 0px solid transparent;
  box-sizing: content-box; }

.trapezoid span {
  position: absolute;
  top: -30px;
  left: 25%;
  color: #fff; }

.trapezoid-7 {
  border-bottom: 50px solid #555;
  border-left: 25px solid transparent;
  border-right: 0px solid transparent;
  height: 0;
  width: 125px; }

.btn-print {
  background-color: #1ca1ec !important;
  height: 135px !important; }

.btn-verde {
  color: #fff;
  background-color: #009e75;
  border-color: #009e75; }

.btn-azul {
  color: #fff;
  background-color: #0063ae;
  border-color: #0063ae; }

.form-group.required .control-label:after {
  content: "*";
  color: red; }

/*
 _main-header.scss

 Estilos para el header principal y todos los elementos que contiene

 */
#main-header {
  height: 17.5vh;
  border: none; }
  #main-header .ui-block-a {
    position: relative; }
    #main-header .ui-block-a img {
      position: absolute;
      height: 8.5vh;
      top: 4.8vh;
      left: 8%; }

/**
* _overrides.scss
*
* En este archivo se "pisan" estilos asignados por default por browsers y los frameworks utilizados.
*
* Autores:
*   - Basconcel, Brisa
*   - Galarza, Romina
*   - Sangoi, Emiliano
*/
* {
  border-radius: 0px !important; }

.ui-btn {
  text-shadow: none !important;
  margin-left: .1rem !important;
  margin-right: .1rem !important;
  padding: .5rem 1rem; }

a {
  outline: 0; }

.ui-overlay-a {
  background-color: white; }

.ui-page-theme-a a {
  color: white !important; }

.nav-pills .nav-link {
  color: #6b6b6b;
  border-radius: 0.35rem;
  border: 1px solid #bbbdbf;
  border-top: none;
  padding: 2px; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #6b6b6b;
  background-color: #eeeeee;
  border-right: none;
  border-left: 5px solid #0063ae; }

#menuLateral .nav-link {
  line-height: 100%;
  padding: .9em 1.5em; }

/*#menuLateral .nav-link.active i {
    color: white !important; }1*/
#menuLateral .nav-link {
  line-height: 100%;
  padding: 1.3em 1.5em; }

.light-font .breadcrumb-item + .breadcrumb-item::before {
  color: white !important; }

.light-font .breadcrumb-item.active {
  color: white !important; }

.container .card {
  border: none !important; }

.card-body {
  background-color: #eeeeee; }

#accordion .card .card-header {
  background-color: #0063ae !important;
  color: white;
  padding: .25rem .25rem; }

#accordion .card .card-header .btn {
  color: white; }

.container-inicio {
  background-color: #eeeeee; }

.btn-link:focus, .btn-link:hover {
  text-decoration: none; }

.border-azul {
  border: #006CB7 solid 1px;
  color: #006CB7; }

/* Estilos para el footer */
#footer {
  border: none;
  background-color: inherit; }
  #footer .btn-reset {
    position: relative; }
    #footer .btn-reset img {
      position: absolute;
      left: 8px;
      vertical-align: middle; }
    #footer .btn-reset span {
      font-size: 150%; }

/*body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  //background-color: #f5f5f5;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}*/
.limiter {
  width: 100%;
  margin: 0 auto; }

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("../images/fichgris.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); }

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem; }

.card-signin .card-body {
  padding: 2rem; }

.form-signin {
  width: 100%;
  max-width: 1730px;
  padding: 15px;
  margin: auto; }

.form-signin .checkbox {
  font-weight: 400; }

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 29, 2020, 5:27:29 PM
    Author     : emi88
*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf"); }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-BlackItalic.ttf");
  font-style: italic;
  font-weight: bold; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-RegularItalic.ttf");
  font-style: italic; }
.font-weight-light {
  font-weight: 300 !important; }

.font-weight-lighter {
  font-weight: lighter !important; }

.font-weight-normal {
  font-weight: 400 !important; }

.font-weight-bold {
  font-weight: 600 !important; }

.font-weight-bolder {
  font-weight: bolder !important; }

.font-italic {
  font-style: italic !important; }

#planificaciones, #tab-content {
  background-color: #eeeeee; }

#planificaciones {
  min-height: 120vh; }

#v-pills-tab a.active {
  background-color: white; }

/*--------------------------------------------------------------------------------------------------------*/
/* Tipografias */
/* Fin Tipografias */
/*--------------------------------------------------------------------------------------------------------*/
html {
  font-size: 15px; }

body {
  font-family: "Lato"; }

.debug * {
  border: 1px dashed red; }

/*Posicionamiento*/
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

#content .content-info .left-panel {
  height: 23vh;
  position: relative;
  background-image: url("../img/fragmento-info.png");
  background-repeat: no-repeat; }
  #content .content-info .left-panel h1 {
    font-size: 2.8rem; }
  #content .content-info .left-panel h4 {
    font-size: 1.3rem; }
  #content .content-info .left-panel > div {
    position: absolute;
    left: 16%;
    top: 16%; }
#content .content-info .right-panel .right-panel-header {
  height: 20.25vh !important; }

.line-height-100 {
  line-height: 100%; }

.notificacion-warning {
  border: 1px solid #ffc122;
  border-left: 8px solid #ffc122; }
  .notificacion-warning i.fas {
    color: #ffc122; }
  .notificacion-warning .titulo {
    color: #ffc122; }
  .notificacion-warning .msg {
    color: #575756; }

.notificacion-error {
  border: 1px solid #dd3445;
  border-left: 8px solid #dd3445; }
  .notificacion-error i.fas {
    color: #dd3445; }
  .notificacion-error .titulo {
    color: #dd3445; }
  .notificacion-error .msg {
    color: #575756; }

.notificacion-success {
  border: 1px solid #009e75;
  border-left: 8px solid #009e75; }
  .notificacion-success i.fas {
    color: #009e75; }
  .notificacion-success .titulo {
    color: #009e75; }
  .notificacion-success .msg {
    color: #575756; }

.acordeon-header {
  position: relative; }
  .acordeon-header i.fa {
    position: absolute;
    right: .50rem;
    top: .750rem; }

#temario .form-row:nth-of-type(odd),
#equipo-doc-res .form-row:nth-of-type(odd),
#equipo-doc-col .form-row:nth-of-type(odd),
#equipo-doc-ads .form-row:nth-of-type(odd) {
  background-color: #eeeeee; }

#temario .form-row:nth-of-type(even),
#equipo-doc-res .form-row:nth-of-type(even),
#equipo-doc-col .form-row:nth-of-type(even),
#equipo-doc-ads .form-row:nth-of-type(even) {
  background-color: white; }

.container_temario, .container_equipo-docente {
  padding-left: 50px;
  padding-top: 20px; }

/*# sourceMappingURL=styles.css.map */
