{{ form_start(form) }}

<div id="pills-aprobacion">
    <ul class="nav nav-pills nav-fill shadow-sm" id="pills-tab" role="tablist">
        <li class="nav-item bg-white">
            <a class="nav-link active py-2" id="pills-req-regul-tab" data-toggle="pill" href="#pills-req-regul" role="tab"
               aria-controls="pills-req-regul" aria-selected="true">
                Requisitos regularizaci&oacute;n
            </a>
        </li>
        <li class="nav-item bg-white">
            <a class="nav-link py-2" id="pills-req-promo-tab" data-toggle="pill" href="#pills-req-promo" role="tab"
               aria-controls="pills-req-promo" aria-selected="false">
                Requisitos promoción
            </a>
        </li>
        <li class="nav-item bg-white">
            <a class="nav-link py-2" id="pills-examen-final-tab" data-toggle="pill" href="#pills-examen-final" role="tab"
               aria-controls="pills-examen-final" aria-selected="false">
                Ex&aacute;men final
            </a>
        </li>
    </ul>
    <div class="tab-content px-5 pt-5 pb-3 shadow-sm">

        {% include "PlanificacionesBundle:3-aprobacion-asignatura:form-tab1.html.twig" %}
        {% include "PlanificacionesBundle:3-aprobacion-asignatura:form-tab2.html.twig" %}
        {% include "PlanificacionesBundle:3-aprobacion-asignatura:form-tab3.html.twig" %}

    </div>
</div>

{% if planificacion.puedeEditarse() %}
    <div class="row mt-3">
        <div class="col-12">
            <button type="submit" class="btn btn-success" form="form-req-aprobacion">
                <i class="fa fa-check"></i>&nbsp;Guardar cambios
            </button>
        </div>
    </div>
{% endif %}


{{ form_end(form) }}
