{# ReservaVehiculosType::getBlockPrefix() + '_widget' #}
{% block vehiculosbundle_reservas_vehiculos_widget %}
    <div class="row mb-3">
    
    {#% if not form.vars.disabled %#}
        <div class="col-5 text-right">
            <table class="table table-borderless d-inline align-middle">
                <tr>
                    <td class="py-0">
                        <a href="#" class="collection-up small text-secondary">
                            <i class="fa fa-arrow-up"></i>
{#                            Subir#}
                        </a>
                        <a href="#" class="collection-down small text-secondary px-1">
                            <i class="fa fa-arrow-down"></i>
{#                            Bajar#}
                        </a>
                    </td>
                    <td class="py-0">
                        <a href="#" class="collection-add small text-primary" title="Agregar registro">
                            <i class="fa fa-plus"></i> Agregar
                        </a>
                    </td>
                    <td class="py-0">
                        <a href="#" class="collection-remove small text-danger" title="Borrar registro">
                            <i class="fa fa-trash"></i> Quitar
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    {#% endif %#}
</div>

{% endblock %}