{#{ form_start(form) }#}

<div class="bg-light p-5 shadow">

    {# {{ dump(form) }} #}
    <div>
        {#{ form_errors(form) }#}
    </div>



    <div class="form-row">
        <div class="col-6">
            <label class="font-weight-bold required" >Docente </label>
            <select class="form-control"><option value="1">Abrile Mariana Guadalupe </option>              
            </select>


        </div>
        <div class="col-6">
            <label class="font-weight-bold required" >Vehiculo </label>
            <select class="form-control"><option value="1">Virgin Marine - Azimut </option>              
            </select>

        </div>
    </div>
    <div class="form-row">

        <div class="col-6">
            <label class="font-weight-bold required" >Fecha Inicio 	 </label>

            <div class="input-group date tempusdominus-datepicker" id="docentesbundle_docenteadscripto_persona_fechaNacimiento_picker" data-target-input="nearest">
                <input type="text" id="docentesbundle_docenteadscripto_persona_fechaNacimiento" name="docentesbundle_docenteadscripto[persona][fechaNacimiento]" class="form-control datetimepicker-input" placeholder="dd/mm/AAAA" autocomplete="off" data-target="#docentesbundle_docenteadscripto_persona_fechaNacimiento_picker">
                <div class="input-group-append" data-target="#docentesbundle_docenteadscripto_persona_fechaNacimiento_picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>

        </div>

        <div class="col-6">
            <label class="font-weight-bold required" >Fecha Fin 	 </label>

            <div class="input-group date tempusdominus-datepicker" id="docentesbundle_docenteadscripto_persona_fechaNacimiento_picker" data-target-input="nearest">
                <input type="text" id="docentesbundle_docenteadscripto_persona_fechaNacimiento" name="docentesbundle_docenteadscripto[persona][fechaNacimiento]" class="form-control datetimepicker-input" placeholder="dd/mm/AAAA" autocomplete="off" data-target="#docentesbundle_docenteadscripto_persona_fechaNacimiento_picker">
                <div class="input-group-append" data-target="#docentesbundle_docenteadscripto_persona_fechaNacimiento_picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-row">
        <div class="col-6">
            <label class="font-weight-bold required" >Estado </label>
            <input type="text" required="required" class="form-control" />
        </div>
        <div class="col-6">
            <label class="font-weight-bold required" >Cantidad Personas </label>
            <input type="number" required="required" class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="col-6">
            <label class="font-weight-bold required" >Elementos Extras </label>
             <select class="form-control"><option value="1">5 Bidones móviles de combustible</option>              
            </select>
        </div>     
    </div>

</div>



{% block tabla_planificaciones %}
{% endblock %}


</div>

{#{ form_end(form) }#}