{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            <a href="{{ path('reservas_listado') }}" class="">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;
                Volver
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="pb-5">

        <div class="my-3">
            {% include '::notificaciones.html.twig' %}
        </div>

        <h2 class="font-weight-bold text-primary">
            Reserva
        </h2>
        <hr class="mt-0 border-primary mb-2 mb-lg-3" style="border-width: 2px;"/>

        {#descomentar cuando este andnado con la bd#}
        {#% embed 'VehiculosBundle:Vehiculo:form.html.twig' %#}


        {#% endembed %#}

        {#QUITAR DESDE ACA - HASTA ver abajo#}

        <div class="bg-light p-5 shadow">

            {# {{ dump(form) }} #}
            <div>
                {#{ form_errors(form) }#}
            </div>



            <div class="form-row">
                <div class="col-5">
                    <label class="font-weight-bold required" >Tipo </label>
                    <select disabled="disabled" class="form-control"><option value="1">Camioneta</option>
                    </select>

                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <label class="font-weight-bold required" >Marca </label>
                    <input disabled="disabled" type="text" required="required" class="form-control" VALUE="Ford"/>
                </div>
                <div class="col-6">
                    <label class="font-weight-bold required" >Modelo </label>
                    <input disabled="disabled" type="text" required="required" class="form-control" VALUE="Ranger XLT 3.0 TDI DC 4x2" />
                </div>

            </div>


            <div class="form-row">
                <div class="col-6">
                    <label class="font-weight-bold required" >Patente </label>
                    <input disabled="disabled" type="text" required="required" class="form-control" VALUE="KST286"/>
                </div>
                <div class="col-6">
                    <label class="font-weight-bold required" >Descripción </label>
                    <input disabled="disabled" type="text" required="required" class="form-control" value="xxxxx" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <label class="font-weight-bold required" >Color </label>
                    <input disabled="disabled"  type="text" required="required" class="form-control" value="Blanco"/>
                </div>
                <div class="col-4">
                    <label class="font-weight-bold required" >Capacidad </label>
                    <input disabled="disabled" type="text" required="required" class="form-control"value="xxxxx" />
                </div>

                <div class="col-4">
                    <label class="font-weight-bold required" >Combustible </label>
                    <input disabled="disabled" type="text" required="required" class="form-control" value="xxxxx" />
                </div>


            </div>
            <div class="form-row">
                <div class="col-6">
                    <label class="font-weight-bold required" >Chasis/Casco </label>
                    <input disabled="disabled" type="text" required="required" class="form-control" value="L1A23430-8AFDR1299CJ473863" />
                </div>
                <div class="col-6">
                    <label class="font-weight-bold required" >Asociado </label>
                    <select disabled="disabled" class="form-control"><option value="1">Ford - Ranger XLT 3.0 TDI DC 4x2</option>
                        <option value="2">Volswagen - Amarok </option></select>
                </div> 
            </div> 



            {% block tabla_planificaciones %}
            {% endblock %}


        </div>

        {#QUITAR HASTA ACA#}



        {% embed '::botonera.html.twig' %}

            {% block left %}
                <a href="{{ path('vehiculos_edit', { 'id': 1}) }}" class="btn btn-primary">
                    <i class="fa fa-edit"></i>&nbsp;Editar
                </a>
                <a href="{{ path('vehiculos_listado') }}" class="btn btn-secondary">
                    Volver al listado
                </a>
            {% endblock %}

            {% block right %}
                {#{ form_start(delete_form) }#}
                <button role="submit" class="btn btn-danger confirmar-borrado"
                        data-msg='¿Esta seguro que desea borrar el vehiculo <b>{#{ docenteAdscripto.persona }#}</b>?'>
                    <i class="fa fa-trash"></i>&nbsp;Borrar
                </button>
                {#{ form_end(delete_form) }#}
            {% endblock %}

        {% endembed %}

    </div>

{% endblock %}
