{% extends '::base.html.twig' %}

{% set ROL_SA = constant('AppBundle\\Entity\\Rol::ROLE_SEC_ACADEMICA') %}
{% set ROLE_ADMIN = constant('AppBundle\\Entity\\Rol::ROLE_ADMIN') %}
{% set ROL_SI = constant('AppBundle\\Entity\\Rol::ROLE_SEC_INFRAESTRUCTURA') %}

{% set full_width = false %}

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            <a href="{{ path('reservas_listado') }}" class="">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;
                Volver
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="pb-5">

        <div class="my-3">
            {% include '::notificaciones.html.twig' %}
        </div>

        <h2 class="font-weight-bold text-primary">
            {{ reserva }}
        </h2>
        <hr class="mt-0 border-primary mb-2 mb-lg-3" style="border-width: 2px;"/>

        {% include 'VehiculosBundle:Reserva:form.html.twig' %}


        {% embed '::botonera.html.twig' %}

        {% if app.user.tieneRol(ROLE_ADMIN) or  app.user.tieneRol(ROL_SI)%}

            {% block left %}
                   
                        {#{ form_start(form_publicar) }#}
                        <button role="submit" class="btn btn-lg btn-info">
                            <i class="fa fa-check"></i>&nbsp;AVALAR
                        </button>
                        {#{ form_end(form_publicar) }#}

                        {#{ form_start(form_publicar) }#}
                        <button role="submit" class="btn btn-lg btn-success">
                            <i class="fa fa-check"></i>&nbsp;ACEPTAR
                        </button>
                        {#{ form_end(form_publicar) }#}                       

                {% endblock %}

                {% block right %}
                     <button role="submit" class="btn btn-lg btn-danger">
                            <i class="fa fa-ban"></i>&nbsp;RECHAZAR
                      </button>
                {% endblock %}

            {% endif %}

        {% endembed %}

    </div>

{% endblock %}
