{% set page_id = 10 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}
    <div>
        <div class="container" >
            <div class="card card-register mx-auto">

                <div class="card-body px-5">

                    <div class="mb-4 ml-10">
                        <h4>{{ page_title }}</h4>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <i class="far fa-check-circle float-left fa-3x" style="color:green"></i>
                            <div class="mt-4 float-left">

                                <b>Su carga de planificaciones ha finalizado con éxito
                                </b>
                                <br>

                                Recuerde que debe enviar la planificación para cumplir
                                su presentación a Secretaría Académica.<br>
                                <a href="#">

                                    Ver planificación completa (pdf)
                                </a>
                                <br>

                                <br>
                                <br>
                                Muchas Gracias
                            </div>


                            <div class="mt-s text-right ">


                                <button type="button" class="btn btn btn-success">
                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                    Enviar Planificación
                                </button>
                                <a href="{{ path('planif_info_basica_nueva') }}" class="btn btn-secondary">
                                    Volver
                                </a>

                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %} 


{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {


        });
    </script>


{% endblock %} 
