{# Utilizado en la sección revisar #}
<div>

    <div class="">        
        <h6 class="font-weight-bold">
            OBJETIVO GENERAL
        </h6>
        {% if resumen.objetivosGral is null %}
            <ul>
                <li class="text-danger">Sin definir.</li>
            </ul>
        {% else %}
            <div class="">               
                {{ resumen.objetivosGral|nl2br }}
            </div>
        {% endif %}   
    </div>


    <div class="mt-4">                
        <h6 class="font-weight-bold">
            OBJETIVOS ESPECIFICOS
        </h6>
        {% if resumen.objetivosEspecificos is null %}
            <ul>
                <li class="text-danger">Sin definir.</li>
            </ul>
        {% else %}
            <div class="">               
                {{ resumen.objetivosEspecificos|nl2br }}
            </div>
        {% endif %}

    </div>


    <div class="mt-4">          
        <a class="btn btn-outline-primary" href="{{ path('planif_objetivos_editar', {id : planificacion.id}) }}">
            <i class="fa fa-edit"></i>&nbsp;Modificar
        </a>                    
    </div>

</div>