<div class="container pr-0 mt-4">
    <div class="mx-auto">

        <div class="container_equipo-docente">
            <div class="mb-4">
                <h4>Equipo Docente</h4>
            </div>

            <form name="formEquipoDoc" id="formEquipoDoc" action="carga-formulario.php" method="post" class="needs-validation" novalidate>
                <div id="equipo-doc-res">

                    <div class="form-row bloque_responsable mt-4 pt-10 pb-10">
                        <div class="form-group  col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <label for="responsable">Responsable</label>
                        </div>
                        <div class="form-group required  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label" for="nombre">Nombre y Apellido
                            </label>
                            <select class="form-control" id="nombre" name="nombre" required>
                                <option value="">Seleccione</option>
                                <option value="JuanP">Juan Perez</option>
                            </select>                        
                        </div>
                        <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label for="dni" class="control-label">DNI </label>
                            <input class="form-control" id="dni" name="dni" type="text" value="" required/>
                        </div>



                        <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                        <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label for="telefono" class="control-label">Teléfono </label>
                            <input class="form-control" id="telefono" name="telefono" type="text" value="" required/>
                        </div>
                        <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label for="email" class="control-label">Correo electrónico </label>
                            <input class="form-control" id="email" name="email" type="email" value="" required/>
                        </div>                                          
                    </div>
                    
                </div>

                <!-- Colaborador -->
                <div id="equipo-doc-col" class= "mt-4">

                    <div class="form-row bloque_colaborador mt-4 pt-10 pb-10">
                        <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <label for="responsable">Colaborador/a</label>

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label" for="nombre_colaborador">Nombre y Apellido
                            </label>
                            <select class="form-control" id="nombre_colaborador" name="nombre_colaborador" required>
                                <option value="">Seleccione</option>
                                <option value="JuanP">Juan Perez</option>
                            </select>
                            <div class="valid-feedback">
                                V&aacute;lido
                            </div>
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label for="dni_colaborador" class="control-label">DNI </label>
                            <input class="form-control" id="dni_colaborador" name="dni_colaborador" type="text" value="" required/>
                        </div>


                        <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label for="telefono_colaborador" class="control-label">Teléfono</label>
                            <input class="form-control" id="telefono_colaborador" name="telefono_colaborador" type="text" value="" required/>
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label for="email_colaborador" class="control-label">Correo electrónico</label>
                            <input class="form-control" id="email_colaborador" name="email_colaborador" type="email" value="" required/>
                        </div>

                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 position-relative" >
                        
                            <div>
                                <a href="#" id="btnBorrarDocente" class="position-absolute" style="bottom: 10px;">
                                    <i class="far fa-trash-alt"></i> Borrar
                                </a>
                            </div>
                        </div>


                    </div><!--bloque colaborador -->

                    <div class="form-group col-md-3 offset-md-2 col-lg-3 col-sm-6 col-xs-12">
                        <a href="#" id="btnAñadirColab">
                            <i class="fa fa-plus-circle"></i> Añadir
                        </a>
                    </div>
                </div>


                <!-- Adscripto -->
                <div id="equipo-doc-ads" class="mt-4">

                    <div class="form-row bloque_adscripto mt-4 pt-10 pb-10">
                        <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <label for="responsable">Adscripto/a</label>

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label" for="nombre_adscripto">Nombre y Apellido
                            </label>
                            <select class="form-control" id="nombre_adscripto" name="nombre_adscripto" required>
                                <option value="">Seleccione</option>
                                <option value="">Juan Perez</option>
                            </select>
                            <div class="valid-feedback">
                                V&aacute;lido
                            </div>
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label for="dni_adscripto" class="control-label">DNI </label>
                            <input class="form-control" id="dni_adscripto" name="dni_adscripto" type="text" value="" required/>
                        </div>


                        


                        <div class="form-group col-lg-3 offset-lg-2 col-md-3 col-sm-6 col-xs-12">
                            <label for="telefono_colaborador" class="control-label">Teléfono </label>
                            <input class="form-control" id="telefono_colaborador" name="telefono_colaborador" type="text" value="" required/>
                        </div>

                        
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label for="email_colaborador" class="control-label">Correo electrónico </label>
                            <input class="form-control" id="email_colaborador" name="email_colaborador" type="email" value="" required/>
                        </div>
                    

                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 position-relative" >
                        
                            <div>
                                <a href="#" id="btnBorrarDocente" class="position-absolute" style="bottom: 10px;">
                                    <i class="far fa-trash-alt"></i> Borrar
                                </a>
                            </div>
                        </div>

                        <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label for="resolucion" class="control-label">Resolución de Consejo Directivo</label>
                            <input class="form-control" id="resolucion" name="resolucion" type="text" value="" required/>
                        </div>


                    </div><!-- bloque_adscripto-->

                    
                    <div class="form-group  col-md-3 offset-md-2 col-lg-3 col-sm-6 col-xs-12">
                        <a href="#" id="btnAñadirAdscripto">
                            <i class="fa fa-plus-circle"></i> Añadir
                        </a>
                    </div>
                </div>

                <div class="col-12 mt-s text-right mb-4">

                    <button type="submit" class="btn btn btn-verde">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        Guardar
                    </button>

                    <a href="#" class="btn btn-secondary">
                        Cancelar
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
