{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}  
            <a href="{{ path('tipo_vehiculos_listado') }}" class="">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;
                Volver
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="pb-5">

        <div class="my-3">
            {% include '::notificaciones.html.twig' %}
        </div>      

        {% include 'VehiculosBundle:TipoVehiculo:form.html.twig' %}

        {% embed '::botonera.html.twig' %}

            {% block left %}
                <button id="btnCrear" class="btn btn-primary">
                    Crear
                </button>
            {% endblock %}

        {% endembed %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#btnCrear').click(function (e) {
                e.preventDefault();
                $("form[name='vehiculosbundle_tipovehiculo']").submit();
            });
        });
    </script>

{% endblock %}
